* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.cell {
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}